.idea*
*node_modules*/
**/.terraform*/
packer/
**/aws-env
**/.aws-sam
**/samconfig.toml
**/.terragrunt*
./terraform
destroy-all.sh
apply-all.sh
plan-all-output.sh
*.plan
tg-import.sh
assume-role.sh
.DS_store
*__pycache__*